@model RecrutementDomain.Entities.Question
@{
    ViewBag.Title = "Edit";
}

<!-- Our Dashbord -->
<section class="cnddte_fvrt our-dashbord dashbord">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-4 col-xl-3 dn-1199">

                <div class="dashbord_nav_list">
                    <ul>
                        <li><a href="page-candidates-dashboard.html"><span class="flaticon-dashboard"></span> Dashboard</a></li>
                        <li><a href="page-candidates-profile.html"><span class="flaticon-profile"></span> Profile</a></li>
                        <li><a href="page-candidates-my-resume.html"><span class="flaticon-resume"></span> Resume</a></li>
                        <li><a href="@Url.Action("ShowApp","Application")"><span class="flaticon-paper-plane"></span> Applicants List</a></li>
                        <li><a href="page-candidates-cv-manager.html"><span class="flaticon-analysis"></span> CV Manager</a></li>
                        <li class="active"><a href="@Url.Action("ShowTests","Test")"><span class="flaticon-favorites"></span> Tests</a></li>
                        <li><a href="page-candidates-message.html"><span class="flaticon-chat"></span> Messages</a></li>
                        <li><a href="page-candidates-review.html"><span class="flaticon-rating"></span> Reviews</a></li>
                        <li><a href="page-candidates-job-alert.html"><span class="flaticon-alarm"></span> Job Alerts</a></li>
                        <li><a href="page-candidates-change-password.html"><span class="flaticon-locked"></span> Change Password</a></li>
                        <li><a href="page-log-reg.html"><span class="flaticon-logout"></span> Logout</a></li>
                        <li><a href="#"><span class="flaticon-rubbish-bin"></span> Delete Profile</a></li>
                    </ul>
                </div>
                <div class="skill_sidebar_widget">
                    <h4>Skills Percentage <span class="float-right font-weight-bold">85%</span></h4>
                    <p>Put value for "Cover Image" field to increase your skill up to "15%"</p>
                    <ul class="skills">
                        <li class="progressbar3" data-width="85" data-target="85"></li>
                    </ul>
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h3>Edit Question</h3>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })







                    @Html.HiddenFor(model => model.QstId)

                    <div class="form-group">
                       <h4>Question</h4>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.qQst, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.qQst, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                       <h4>Response 1</h4>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Rep1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Rep1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <h4>Response 2</h4>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Rep2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Rep2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <h4>Response 3</h4>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Rep3, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Rep3, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <h4>Response 4</h4>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Rep4, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Rep4, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <h4>Correst Response</h4> 
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RepCorrect, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RepCorrect, "", new { @class = "text-danger" })
                        </div>
                    </div>




                    <div class="form-group">
                        <p>
                            <input type="submit" value="Save Changes" class="btn btn-thm" />
                            <button class="btn btn-thm">@Html.ActionLink("Cancel", "ShowQuestions")</button>  
                        </p>
                    </div>
                </div>
               
            }





