@model IEnumerable<RecrutementDomain.Entities.Question>
@{
    ViewBag.Title = "ShowQuestions";
}


<!-- Our Dashbord -->
<section class="cnddte_fvrt our-dashbord dashbord">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-4 col-xl-3 dn-1199">

                <div class="dashbord_nav_list">
                    <ul>
                        <li><a href="page-candidates-dashboard.html"><span class="flaticon-dashboard"></span> Dashboard</a></li>
                        <li><a href="page-candidates-profile.html"><span class="flaticon-profile"></span> Profile</a></li>
                        <li><a href="page-candidates-my-resume.html"><span class="flaticon-resume"></span> Resume</a></li>
                        <li><a href="@Url.Action("ShowApp","Application")"><span class="flaticon-paper-plane"></span> Applicants List</a></li>
                        <li><a href="page-candidates-cv-manager.html"><span class="flaticon-analysis"></span> CV Manager</a></li>
                        <li class="active"><a href="@Url.Action("ShowTests","Test")"><span class="flaticon-favorites"></span> Tests</a></li>
                        <li><a href="page-candidates-message.html"><span class="flaticon-chat"></span> Messages</a></li>
                        <li><a href="page-candidates-review.html"><span class="flaticon-rating"></span> Reviews</a></li>
                        <li><a href="page-candidates-job-alert.html"><span class="flaticon-alarm"></span> Job Alerts</a></li>
                        <li><a href="page-candidates-change-password.html"><span class="flaticon-locked"></span> Change Password</a></li>
                        <li><a href="page-log-reg.html"><span class="flaticon-logout"></span> Logout</a></li>
                        <li><a href="#"><span class="flaticon-rubbish-bin"></span> Delete Profile</a></li>
                    </ul>
                </div>
                <div class="skill_sidebar_widget">
                    <h4>Skills Percentage <span class="float-right font-weight-bold">85%</span></h4>
                    <p>Put value for "Cover Image" field to increase your skill up to "15%"</p>
                    <ul class="skills">
                        <li class="progressbar3" data-width="85" data-target="85"></li>
                    </ul>
                </div>
            </div>

            
            <section>
                <p>
                    <button class="btn btn-lg btn-thm"> @Html.ActionLink("Create New", "Create")</button>
                    <button class="btn btn-lg btn-thm"> @Html.ActionLink("Go back", "../Test/ShowTests")</button>
                </p>
            <main>
                <div class="container-fluid mb-5">

                    <!--Section: Basic examples-->
                 

                        <div class="row">

                            <div class="col-md-12">

                                <div class="card">
                                    <div class="card-body">

                                        <table id="datatables" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.TestId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.qQst)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Rep1)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Rep2)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Rep3)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Rep4)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.RepCorrect)
                                                    </th>

                                                    <th></th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @foreach (var item in Model)
                                                {

                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.TestId)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.qQst)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Rep1)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Rep2)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Rep3)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Rep4)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.RepCorrect)
                                                        </td>

                                                        <td>
                                                            <button class="btn  btn-gray">@Html.ActionLink("Edit", "Edit", new { id = item.QstId })</button>  

                                                            <button class="btn  btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.QstId })</button> 
                                                        </td>
                                                    </tr>

                                                }
                                            </tbody>

                                        </table>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </section>
                    <!--Section: Basic examples-->

                </div>
            </main>

