@model RecrutementDomain.Entities.Application
@{
    /**/

    ViewBag.Title = "Confirmer";
    Layout = "~/Views/Shared/_LayoutAcceuil.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })





    <br /><br />
    <h4>Please do confirm the applicator status</h4>

    @Html.HiddenFor(model => model.AppId)

    <div class="form-group">
        @Html.LabelFor(model => model.ApplicationStatus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ApplicationStatus, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ApplicationStatus, "", new { @class = "text-danger" })
        </div>
    </div>







    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Confirm" class="btn btn-lg btn-thm" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "ShowApp")
</div>

