@model IEnumerable<RecrutementDomain.Entities.Application>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAcceuil.cshtml";
}

<h2>Index</h2>
<body>
  
    <div class="header stylehome1 dashbord_mobile_logo">
        <img class="nav_logo_img img-fluid float-left mt25" src="images/header-logo.png" alt="header-logo.png">
        <a class="bg-thm" href="#menu"><span></span></a>
    </div>
    </div><!-- /.mobile-menu -->
    </div>

    <!-- Our Dashbord -->
    <section class="cnddte_fvrt our-dashbord dashbord">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-4 col-xl-3 dn-1199">

                    <div class="dashbord_nav_list">
                        <ul>
                            <li><a href="page-candidates-dashboard.html"><span class="flaticon-dashboard"></span> Dashboard</a></li>
                            <li><a href="page-candidates-profile.html"><span class="flaticon-profile"></span> Profile</a></li>
                            <li><a href="page-candidates-my-resume.html"><span class="flaticon-resume"></span> Resume</a></li>
                            <li><a href="page-candidates-applied-jobs.html"><span class="flaticon-paper-plane"></span> Applied Jobs</a></li>
                            <li><a href="page-candidates-cv-manager.html"><span class="flaticon-analysis"></span> CV Manager</a></li>
                            <li class="active"><a href="page-candidates-favourite-jobs.html"><span class="flaticon-favorites"></span> Favourite Jobs</a></li>
                            <li><a href="page-candidates-message.html"><span class="flaticon-chat"></span> Messages</a></li>
                            <li><a href="page-candidates-review.html"><span class="flaticon-rating"></span> Reviews</a></li>
                            <li><a href="page-candidates-job-alert.html"><span class="flaticon-alarm"></span> Job Alerts</a></li>
                            <li><a href="page-candidates-change-password.html"><span class="flaticon-locked"></span> Change Password</a></li>
                            <li><a href="page-log-reg.html"><span class="flaticon-logout"></span> Logout</a></li>
                            <li><a href="#"><span class="flaticon-rubbish-bin"></span> Delete Profile</a></li>
                        </ul>
                    </div>
                    <div class="skill_sidebar_widget">
                        <h4>Skills Percentage <span class="float-right font-weight-bold">85%</span></h4>
                        <p>Put value for "Cover Image" field to increase your skill up to "15%"</p>
                        <ul class="skills">
                            <li class="progressbar3" data-width="85" data-target="85"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="mb30">Favourite Jobs</h4>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="candidate_revew_search_box">
                                <form class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Serach" aria-label="Search">
                                    <button class="btn my-2 my-sm-0" type="submit"><span class="flaticon-search"></span></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="candidate_revew_select text-right">
                                <ul>
                                    <li class="list-inline-item">Sort by:</li>
                                    <li class="list-inline-item">
                                        <select class="selectpicker show-tick">
                                            <option>Newest</option>
                                            <option>Recent</option>
                                            <option>Old Review</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="cnddte_fvrt_job candidate_job_reivew">
                                <div class="table-responsive job_review_table">
                                    <table class="table">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Applicators</th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>

                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                            <tr>
                                                <th scope="row">

                                                </th>
                                                <td align="left">
                                                    @Html.DisplayFor(modelItem => item.Nom)
                                                    @Html.DisplayFor(modelItem => item.Prenom)
                                                </td>
                                                <td>Applicator Status:  @Html.DisplayFor(modelItem => item.ApplicationStatus)</td>

                                                <td></td>
                                               
                                                <td>
                                                    <ul class="view_edit_delete_list">
                                                        <button type="button" class="btn btn-lg btn-success">
                                                            @Html.ActionLink("Accept", "Confirmer", new { id = item.AppId })
                                                        </button>

                                                        <button type="button" class="btn btn-lg btn-danger">@Html.ActionLink("Reject", "Confirmer", new { id = item.AppId })</button>
                                                        <button type="button" class="btn btn-lg btn-blue">
                                                            @Html.ActionLink("ValidationYes", "Accepted", "Rejected", new { id = item.AppId })
                                                        </button>
                                                    </ul>
                                                </td>
                                            </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <a class="scrollToHome text-thm" href="#"><i class="flaticon-rocket-launch"></i></a>
    </div>
    <!-- Wrapper End -->
    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-3.0.0.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.mmenu.all.js"></script>
    <script type="text/javascript" src="js/ace-responsive-menu.js"></script>
    <script type="text/javascript" src="js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="js/snackbar.min.js"></script>
    <script type="text/javascript" src="js/simplebar.js"></script>
    <script type="text/javascript" src="js/parallax.js"></script>
    <script type="text/javascript" src="js/scrollto.js"></script>
    <script type="text/javascript" src="js/jquery-scrolltofixed-min.js"></script>
    <script type="text/javascript" src="js/jquery.counterup.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/progressbar.js"></script>
    <script type="text/javascript" src="js/slider.js"></script>
    <script type="text/javascript" src="js/timepicker.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <!-- Custom script for all pages -->
    <script type="text/javascript" src="js/script.js"></script>
</body>

